<form>
    <h1>ATUALIZANDO LIVRO</h1>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <input matInput [(ngModel)]="produto.nome" [formControl]="nome" required type="text" name="nome" placeholder="Ex. nome" maxlength="100">
        <mat-error *ngIf="nome.invalid">{{ getMessage() }}</mat-error> 
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Nome do autor</mat-label>
        <input matInput [(ngModel)]="produto.preco"  [formControl]="preco" required type="text" name="preco" placeholder="Ex. preco" maxlength="100">
        <mat-error *ngIf="preco.invalid">{{ getMessage() }}</mat-error> 
    </mat-form-field>

    <div class="buttons">
        <button (click)="update()" [disabled]="getMessage()" class="mat-elevation-z8" mat-stroked-button color="primary"> ATUALIZAR </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>

</form>
